﻿*,*:after, *:before {
  box-sizing: border-box;
}
html {
  background: transparent;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue','Segoe UI',Arial, sans-serif;
  color:#282826;
}

header{
padding:20px;
}
header h1 {
font-size:48px;
font-weight:300;
}
.content {
  margin: 0 auto;
  overflow: hidden;
  padding: 0px;
  position: relative;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.split {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  column-count: 3;
  column-gap: 20x;
  height:20px;
}
[class*='col-']{
	float:left;
	padding-right: 0;
}
.col-50{	float:left;
}

.start {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -320px;
}

.circular {
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}
.circular a {
	display:block;
	height:100%;
}
.circular:hover{
		box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#land-link{
	background: url(http://i.imgur.com/4C0lzBY.jpg) no-repeat;
	background-size:cover;
}







