﻿0.container {
  margin-bottom: 20px;
  padding-bottom: 50px;
  
}h1, h4 {
  text-align: center;
  margin-bottom: 50px;
}#gris{
	background-color:fuchsia;
	position:inherit;
    z-index: 1;

}

#relativa{
position:absolute;
	
}

header{
	background-color:#66FFFFñ
	}
#cita{
	font-family:Helvetica;
	font-size:x-large;
	color:#FFFFFF;}
 .parallax-container {
      height:620px;
      position:inherit;
    }